body {
    background: #0f172a;
}

.cardb {
    max-width: 900px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

#pergunta {
    min-height: 80px;
}

.btn {
    transition: .3s;
}

.btn:hover {
    transform: scale(1.03);
}